# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Tests
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
